/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #292727;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    opacity: 1; /* initially hide the gallery */
}

.item {
    margin: 10px;
    overflow: hidden;
    opacity: 0; /* initially hide the items */
    transform: translateY(20px); /* move items down */
    transition: opacity 0.5s ease, transform 0.5s ease; /* smooth transition */
}

.item img {
    max-width: 100%;
}

/* Show items when they enter viewport */
.item.show {
    opacity: 1;
    transform: translateY(0);
}